*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.banner{
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../images/background.jpg);
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    position: relative;

}
.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}
.nav img{
    width: 150%;
    margin-top: 15px;
}
.nav-links  ul{
    color: #fff;
}
.nav-links ul a{
    text-decoration: none;
    color: #fff;
}
.nav-links  ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px ;
    position: relative;
    font-size: 3rem;
    
}
.nav-links  ul li::after{
    content: '';
    background: rgb(225, 121, 121);
    width: 0%;
    height: 20px;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links  ul li:hover::after{
    width: 100% ;
}
.text-box{
    color: #fff;
    position: absolute;
    top:50% ;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 90%;
}
.text-box h1{
    font-size: 100px;
   
}
.text-box p{
    font-size: 50px;
    margin: 10px 0 42px;
}
.text{
    font-size: 4rem;
}
.info-col img{
    width:80%;
}
.info-col-text{
height: auto;
width: 80%;
margin-bottom: 3%;
}
.info-col-text p{
    margin-bottom: 4%;
}
.hero-btn{
    text-decoration: none;
    color: #f44336 ;
    border: 1px solid #f44336;
    padding: 40px;
    background: transparent;
    width: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 5rem ;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 2rem;
}

.hero-btn:hover{
    background-color: rgb(225, 121, 121);
    transition: 1s;
    border:rgb(225, 121, 121) ;
}
.nav .fa-solid{
    display: none;
    color: #fff;
    font-size: 25px;
}
.nav-links .fa-solid{
    display: none;
    color: #fff;
    font-size: 25px;
}
.row{
    display: flex;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}
.info-col{
    margin-top: 50px;
    width: 100%;
    border-radius: 10px;
}
.info-col img{
    margin-left: 10px;
    max-width: 100%;
    border-radius: 20px;
}
.info-col h2{
    font-weight: 600;
    text-align: left;
}
.info-col p{
    text-align: justify;
}

.footer{
    text-align: center;
    width: 100%;
    font-size: 5rem;
}

.title{
    margin: auto;
    text-align: center;
    padding-top: 20px;
    font-size: 5rem;
}

.icons .fa-brands{
    margin: 0 13px;
    padding: 18px 0;
    color: #f44336;
    cursor: pointer;
}

.icons p{
    margin-top: 20px;
    margin-bottom: 10px;
}
.form{
    margin: auto;
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 2rem;
}
.left img{
  width: 100vh;
}
.right{
    margin-top: 2rem; ;
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 5rem;
}
input{
    width: 100%;
    padding: 4rem;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2rem;
    box-sizing: border-box;
    margin: 10px;
    font-size: 3rem;
}
input[type=submit]:hover{
    text-transform: uppercase;
    background-color: rgb(225, 121, 121);
    transition: 1s;
    border:#e17979 ;
}

textarea{
    padding: 2rem;
    font-size: 3rem;
}
@media(max-width:600px){
    *{
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }

    .text-box h1{
        font-size: 40px;
    }
    .text-box p{
        font-size: 8px;
    }
    .nav-links  ul li{
        display: block;
    }
    .nav-links{
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background:rgb(225, 121, 121) ;
        width: 200px;
        height: 100vh;
        z-index: 2;
        transition: 1s;
    }
    .nav-links .fa-solid{
        display: inline-block;
        color: #fff;
        font-size: 25px;
        
    }
    .nav .fa-solid{
        display: inline-block;
        color: #fff;
        font-size: 25px;
    }
    .info{
        justify-content: center;
        text-align: center;
        margin: auto;
        display: block;
        
    }
    .row{
        display: block;
       width: 90%;
       
    }
    .cta h1{
        font-size: 20px;
    }
    .info-col h2{
        text-align: center;
        
    }
    .info-col p{
        text-align: center;
    }
    .info-col{
        position: absolute;
        left: auto;
        background-color: #f44336;
        
    }
    .info-col img{
        
        width: 450px;
        
    }
    .banner{
        background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../images/background.jpg);
        min-height: 50vh;
        background-size: cover;
        background-position: center;
        position: relative;
        width: 30rem;
    
    }
}
